<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Themes from guilty gear series</h1>
        <ul>
            <li>It is a fighting game series</li>
            <li>The themes music type are more like rock'n roll</li>
            <li>Each character in the game have their main theme</li>
            <li>there are the animation of the game's stories</li>
        </ul>
        <img src="..\statics\img\ggst.jpg" alt="oh no" width="500" height="300">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qU6CKLe3q24?si=Yzy6ulk0gje7TPAO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h2>回饋表單</h2>
        <form action="">
            <label for="input_1">姓名:</label>
            <input type="input_1" id="input_1">
        </form>
        <br><br>
        <form action="113409537_index.html">
            <label for="select_1">你是從哪裡知道這個網站的</label>
            <select id="select_1">
                <option value="selection1">通靈</option>
                <option value="selection2">他人告知</option>
                <option value="selection3">TA</option>
            </select>

             <h3>你喜歡這首歌嗎</h3>

            <input type="radio" value="radio1">
            <label for="radio1">非常喜歡</label><br>
            <input type="radio" value="radio2">
            <label for="radio2">喜歡</label><br>
            <input type="radio" value="radio3">
            <label for="radio3">還好</label><br>
            <input type="radio" value="radio4">
            <label for="radio4">不喜歡</label><br>
            <input type="radio" value="radio5">
            <label for="radio5">還是端下去吧</label><br>
              
            <h3>聽完這首歌後你對以下事項那些有興趣</h3><br>

            <input type="checkbox" id="checkbox_1">
            <label for="checkbox_1">想聽其他角色的theme</label><br>
            <input type="checkbox" id="checkbox_2">
            <label for="checkbox_2">想了解這個遊戲的玩法</label><br>
            <input type="checkbox" id="checkbox_3">
            <label for="checkbox_3">想了解這個遊戲的故事</label><br>
            <input type="checkbox" id="checkbox_4">
            <label for="checkbox_4">有的時候我就是好想逃離那一切(以上都沒興趣)</label><br>
            <br><br>

            <h3>其他回饋</h3>

            <label for="textarea_1"> 其他回饋</label>
            <textarea rows="5" cols="30"></textarea><br>
            
            <br><br>

            <input type="submit">
        </form>
       
    </body>
</html>