<!DOCTYPE html>
<html>
    <head>
        <title>113409537蔡宗志</title>
    </head>
    <body>
        <h1>3 Facts about me</h1>

        <table border="1" width="200px">
        <tr>
            <th><img src="..\statics\img\econ.png" alt="OH no" width="100px" height="100px"></th>
            <th><img src="..\statics\img\game.jpg" alt="OH no" width="100px" height="100px"></th>
            <th><img src="..\statics\img\ggst.jpg" alt="OH no" width="150px" height="70px"> </th>
        </tr>
        <tr>
            <th>majar:eocnomics</th>
            <th>favorite game:Street fighter 6</th>
            <th><a href="C:\Users\teric\ME2025Demo\HW3_htmlAndCss\templates\113409537_detail.html">music i like:Themes in Guilty Gear theory</a></th>
            
        </tr>
        </table>
    </body>
</html>