<!DOCTYPE html>
<html>
    <head>
        <title>113409537蔡宗志</title>
        <link rel="stylesheet" href="../statics/css/113409537_css.css">
    </head>
    <body>
        <nav>
            <ul class="navbar">
                <li> <a href="https://github.com/unnamed0604/ME2025Demo">My github link</a></li>
                <li><a href="113409537_detail.html">detail</a></li>
                <li>
                    <a href="#">More</a>
                    <ul class="dropdown">
                        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Amazing link</a></li>
                        <li><a href="https://www.youtube.com/watch?v=9BalEldzE8o">Cool link</a></li>
                        <li><a href="https://youtu.be/gV1V8aZ5B2U?si=y1lZx1_9H77pHHMn&t=11">Holy link</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>





        
        <br>
        <br>
        <br>



        <h1>3 Facts about me</h1>

        <table border="1" width="200px">
        <tr>
            <th><a href="113409537_detail.html"><img src="..\statics\img\econ.png" alt="OH no" width="100px" height="100px"></a></th>
            <th><a href="113409537_detail.html"><img src="..\statics\img\game.jpg" alt="OH no" width="100px" height="100px"></a></th>
            <th><a href="113409537_detail.html"><img src="..\statics\img\ggst.jpg" alt="OH no" width="150px" height="70px"></a></th>
        </tr>
        <tr>
            <th><a href="113409537_detail.html">majar:eocnomics</a></th>
            <th><a href="113409537_detail.html">favorite game:Street fighter 6</a></th>
            <th><a href="113409537_detail.html">music i like:Themes in Guilty Gear theory</a></th>
            
        </tr>
        </table>
    </body>
</html>