<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../static/113409537_js_4.css">

    </head>
    <body>
        <h2>購物車</h2>
        <table id="cart">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>總計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="checkItem"></td>
                    <td>BENQ護眼螢幕</td>
                    <td class="stock">18</td>
                    <td class="price">6988</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="qty" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal">6988</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkItem"></td>
                    <td>3M 抗眩燈</td>
                    <td class="stock">89</td>
                    <td class="price">1799</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="qty" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal">1799</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkItem"></td>
                    <td>DJI MINI 4 Pro</td>
                    <td class="stock">23</td>
                    <td class="price">31690</td>
                    <td>
                    <button class="minus">-</button>
                    <input type="text" class="qty" value="1">
                    <button class="plus">+</button>
                    </td>
                    <td class="subtotal">31690</td>
                </tr>
    </tbody>
        </table>

        








        <script href="../static/113409537_js_4.js"></script>
    </body>
</html>