<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../static/113409537_js_4.css">

    </head>
    <body>
        <h2>購物車</h2>
        <table id="cart">
            <thead>
                <tr>
                    <th><input type="checkbox" id= "checkall" onclick="checkall()"></th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>總計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="checkItem"></td>
                    <td>BENQ護眼螢幕</td>
                    <td class="stock1">20</td>
                    <td id="price1">7000</td>
                    <td>
                        <button class="minus" id="minus1" onclick="minus1()">-</button>
                        <input type="text" class="qty" value="1" id="buy_number_1">
                        <button class="plus" id="plus1" onclick="plus1()">+</button>
                    </td>
                    <td class="subtotal" id="total1"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkItem"></td>
                    <td>3M 抗眩燈</td>
                    <td class="stock2">40</td>
                    <td id="price2">2000</td>
                    <td>
                        <button class="minus" id="minus2" onclick="minus2()">-</button>
                        <input type="text" class="qty" value="1" id="buy_number_2">
                        <button class="plus" id="plus2" onclick="plus2()">+</button>
                    </td>
                    <td class="subtotal" id="total2"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkItem"></td>
                    <td>DJI MINI 4 Pro</td>
                    <td class="stock3">30</td>
                    <td id="price3">30000</td>
                    <td>
                    <button class="minus" id="minus3" onclick="minus3()">-</button>
                    <input type="text" class="qty" value="1" id="buy_number_3">
                    <button class="plus" id="plus3" onclick="plus3()">+</button>
                    </td>
                    <td class="subtotal" id="total3"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td id="alltotal"></td>
                </tr>
            </tbody>
        </table>
        <br><br>

        <button class="Checkout">結帳</button>





        <script src="../static/113409537_js_4.js"></script>
    </body>




</html>